@font-face {
    font-family: "Latin Modern math";
    src: url("latinmodern-math.otf") format("truetype");
}


body {
    background-color: #c19f9f;
    font-family: "Latin Modern math", sans-serif;
    font-size: 20px;
    text-align: justify;
}

#Elso_oldal {
    background-color: #dbdbdb;
    border-radius: 15px;
    width: 800px;
    height: fit-content;
    padding: 20px;
    padding-top: 0px;
}

#Elso_oldal_hatter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Feladat_lista {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Feladat_hatter {
    background-color: #dbdbdb;
    border-radius: 15px;
    align-self: center;
    width: 800px;
    height: fit-content;
    padding: 20px;
    padding-top: 0px;
    margin-bottom:40px;
}

#Koszonto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 40px 40px 40px;
}

#Alairas {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

#Vonalka {
    height: 2px;
    border-width: 0;
    background-color: #c19f9f;
}

#Kurzus_valaszto {
    text-align: center;
    font-size: 25px;
    margin: 10px 0 30px 0;
}

#Szintek {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#Emelt_gomb, #Kozep_gomb {
    background-color: #c34040;
    border-radius: 30px;
    width: 150px;
    padding: 60px 0;
    text-align: center;
    opacity: 0.9;
    transition: 1s;
    font-size: 22px;
    margin-bottom: 10px;
}

    #Emelt_gomb:hover, #Kozep_gomb:hover {
        background-color: #ad3030;
        width: 156px;
        padding: 63px 0;
        border-radius: 20px;
        cursor: pointer;
        opacity: 1;
        font-size: 23px;
        margin-bottom: 0;
    }

.Valasz {
    width: 55%;
    border-radius: 5px;
    border-width: 2px;
    resize: none;
    height: 30px;
    font-family: "Latin Modern math", sans-serif;
    font-size: 19px;
    padding: 0 2px;
    margin-top: 5px;
}

#H_K_Valasz_1c {
    width: 48%;
}

#H_K_Valasz_2a, #H_K_Valasz_2b, #H_K_Valasz_3, #H_K_Valasz_4 {
    width: 20%;
    margin-right: 10px;
    margin-left: 10px;
}

.gomb {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
}

.Ell_gomb {
    font-family: "Latin Modern math", sans-serif;
    font-size: 20px;
    color: white;
    background-color: #119f4a;
    padding: 10px 23px;
    border: none;
    border-radius: 4px;
    transition-duration: 0.5s;
    cursor: pointer;
}

.Ell_gomb:hover {
    border-radius: 1px;
    background-color: #5fc35f;
}

.Valasz_label{
    display: flex;
    align-items:center;
    margin: 10px 0;
}

.Kapcsos_zarojel {
    display: inline;
    font-size: 30px;
    margin-top: 3px;
}

.Seged_feluletek {
    display: none;
    max-height: 200px;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #f5bfbf;
    border-radius: 10px;
}

.Eltunt_elemek {
    position: relative;
    overflow: hidden;
    height: fit-content;
    width: fit-content;
    margin: 0 7px 0 90px;
}

.Kerdes_elemek{
    display:flex;
    flex-direction:row;
    margin-top: 10px;
}

.H_K_6_Kerdes_elemek {
    display: flex;
    flex-direction: row;
    height: 44px;
}

.H_K_Radio, .L_K_Radio {
    transform: scale(1.2);
    margin: 0 5px 0 10px;
    height: 64px;
}

.Bezaro_gombok {
    position: absolute;
    top: 2px;
    right: 2px;
    border-radius: 5px;
    border-style: none;
    background-color: #f5bfbf;
    color: black;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

.Select_cuccosok1, .Select_cuccosok3, .Select_cuccosok4 {
    border-radius: 20px;
    text-align: center;
    font-size: 15px;
    padding: 3px 0;
    width: 120px;
    margin-left: 100px;
    appearance: none;
    font-family: "Latin Modern math", sans-serif;
    transition: border-color 0.3s;
    transition: border-width 0.3s;
}

.Select_divek {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

select:focus {
    border-color: #0066cc;
    outline: none;
}

option {
    text-align: center;
    font-size: 15px;
}

.Valasz_felulet {
    display: flex;
    flex-direction: column;
}

.helyes_valasz {
    display: none;
    color: #305e38;
    font-weight: bold;
}

.ures_mezo, .szam_check {
    display: none;
    color: #831c1c;
    font-weight: bold;
}
.blurryText {
    transition: filter 0.3s ease;
    filter: blur(5px);
    display: inline;
}

    .blurryText:hover {
        filter: blur(0);
    }


.MathJax span {
    /* font-size: 100% !important; /* Nagyobb betűméret */
    /* margin: 0.5em auto; /* Margó hozzáadása a képletek köré */
    /* padding: 1em; /* Padding hozzáadása, hogy jobban helyezkedjenek el */
}
